li {
    display: inline;
}

li a {
    padding-right: 20px;
}

.box {
    box-sizing: border-box;
    display: inline-block;
    background-color: aqua;
    padding: 20px;
    width: 32%;
    margin-bottom: 15px;
}
