/** {
    box-sizing: border-box;
}*/

/*body {
    font-family: Arial, serif;
}*/

/*.flex-container {
    display: flex;
    flex-direction: row;
}

.item {
    background: lightcoral;
    border: solid 2px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    flex: 1 0 200px;
}*/

/*.item-1 {
    flex-shrink: 0;
}

.item-2 {
    flex-grow: 1;
    flex-basis: 0;
}

.item-3 {
    flex-grow: 2;
}*/
